<%	
	type		=	(typeof type !== typeof undefined)			?	type		:""; 
	categoryId	=	(typeof category_id !== typeof undefined)	?	category_id	:""; 
	displayType	=	(typeof displayType !== typeof undefined)	?	displayType	:__('admin.master.master');
%>
<div class="container-fluid" id="main-container">
	<div class="row clearfix" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2> <%= __("admin.system.edit")+" "+displayType;%> </h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url+"/"+type+"/"+categoryId%>" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __('admin.system.back'); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<!-- Multilanguage tabs -->
						<%- include ../../elements/multilanguage_tabs.html %>
					<!-- Multilanguage tabs -->
					<form id="edit-master" data-submit-btn-id="master-edit-btn-id" method="post" class="on_click_submit" role="form">
						<!-- Tab panes -->
						<div class="tab-content mt-20">
							<%
							
							if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 0){ 
								language_list.forEach(function(languages){ 
									languageId 		= 	(languages._id) 		?  	languages._id 		:"";
									languageCode 	= 	(languages.lang_code)	?	languages.lang_code :"";
									name 			=	(result.master_descriptions && result.master_descriptions[languageId] && result.master_descriptions[languageId]['name']) ? result.master_descriptions[languageId]['name'] 	:"";
									order 			=	(result.master_descriptions && result.master_descriptions[languageId] && result.master_descriptions[languageId]['order']) ? result.master_descriptions[languageId]['order'] 	:"";
									description 	=	(result.master_descriptions && result.master_descriptions[languageId] && result.master_descriptions[languageId]['description']) ? result.master_descriptions[languageId]['description'] 	:"";
									charge 			=	(result.master_descriptions && result.master_descriptions[languageId] && result.master_descriptions[languageId]['charge']) ? result.master_descriptions[languageId]['charge'] 	:"";
									categoryType 	=	(result.master_descriptions && result.master_descriptions[languageId] && result.master_descriptions[languageId]['category_type']) ? result.master_descriptions[languageId]['category_type'] 	:"";
									attributeTerm 	=	(result.master_descriptions && result.master_descriptions[languageId] && result.master_descriptions[languageId]['attribute_term']) ? result.master_descriptions[languageId]['attribute_term'] 	:"";
									additionalTerm 	=	(result.master_descriptions && result.master_descriptions[languageId] && result.master_descriptions[languageId]['additional_term']) ? result.master_descriptions[languageId]['additional_term'] 	:"";
									var oldImage    =   (result.category_image)      ? result.category_image      :''; 
                            		var image       =   (result[IMAGE_FIELD_NAME])  ? result[IMAGE_FIELD_NAME]    :ADD_PROFILE_IMAGE_ICON;
								%>

									<% if(category_id == ''){ %>
									<div class="row clearfix">
										<div class="col-sm-12 align-center">
											<div class="form-group add-image">
												<input name="old_image" id="old_image" type="hidden" class="form-control"  value="<%=oldImage %>"/>
												<input name="category_image" id="category_image" class="form-control image-input-file" type="file"/>
												<span class="help-inline required profile_image" id="ContentTypeNameSpan">
													<div id="pImage">
														<img src="<%=image%>" alt="category image" class="profileImage" />
													</div>
												</span>
												<div class="m-t-10">
													<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="<%= __("admin.system.allowed_file_extension") + ALLOWED_IMAGE_EXTENSIONS%>" class="btn bg-teal btn-block btn-sm waves-effect changePhoto">
														<%= __("admin.user.upload_image"); %>
													</a>
												</div>
												<span id="category_image_error" class="error"></span>
											</div>
										</div>
									</div>
									<% }  %>
									<div role="tabpanel" class="tab-pane multi-lang-tab-pane fade in <%= (languageCode == DEFAULT_LANGUAGE_CODE) ? 'active' : ''; %>" id="multi_lang_<%= languageCode; %>">
										<div class="row clearfix">
											<div class="col-sm-12">
												<div class="form-group">
													<div class="form-line">
														<label for="name_<%= languageCode; %>" class="control-label">
															<%= __("admin.master.name"); %>
															<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
																<span class="required"> *</span>
															<% } %> 
														</label>
														<input type="hidden" name="master_descriptions[<%= languageId %>][language_id]" value="<%= languageId; %>"/>
														<input type="text" id="name_<%= languageCode; %>" class="form-control" name="master_descriptions[<%=languageId%>][name]" value="<%=name%>"/>
													</div>
													<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
														<span id="name_error" class="error"></span>
													<% } %>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<div class="form-line">
														<label for="amount" class="control-label">
															<%= __("admin.master.order"); %><span class="required"> * </span>
														</label>
														<input type="text" id="order_<%= languageCode; %>" class="form-control" name="master_descriptions[<%=languageId%>][order]" value="<%=order%>"/>
													</div>
													
													<span id="order_error" class="error"></span>
												</div>
											</div>
											<% if(type && (type != 'category' && type != 'delivery_types')){ %>
												<div class="col-sm-12">
													<div class="form-group">
														<div class="form-line">
															<label for="attribute_term" class="control-label">
																 Attribute Term <span class="required"> * </span>
															</label>
															<input type="text" id="attribute_term_<%= languageCode; %>" class="form-control" name="master_descriptions[<%= languageId%>][attribute_term]" value="<%=attributeTerm%>"/>
														</div>
														<span id="attribute_term_error" class="error"></span>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="form-group">
														<div class="form-line">
															<label for="additional_term" class="control-label">
																Additional Price Amount<span class="required"> * </span>
															</label>
															<input type="text" id="additional_term_<%= languageCode; %>" class="form-control" name="master_descriptions[<%= languageId%>][additional_term]" value="<%=additionalTerm%>"/>
														</div>
														
														<span id="additional_term_error" class="error"></span>
													</div>
												</div>
											<% }%>
											<% if(type && type == 'category'){ %>
												<% if(categoryId == ''){ %>
													<div class="col-sm-12">
														<div class="form-group">
															<div class="form-line">
																<label for="description" class="control-label"><%= __('Category Type'); %><span class="required"> * </span> </label>
																<select class="form-control show-tick" id="shedules_category" name="master_descriptions[<%= languageId%>][category_type]">

																	<option value="">Select Category Type</option>
																	<%
																	if(GLOBAL_CATEGORY_LEVEL_DROPDOWN && Object.keys(GLOBAL_CATEGORY_LEVEL_DROPDOWN).length > 0){
																		Object.keys(GLOBAL_CATEGORY_LEVEL_DROPDOWN).map(searchStatus=>{
																			var selectedFlag    = (typeof GLOBAL_CATEGORY_LEVEL_DROPDOWN[searchStatus]['type'] !== typeof undefined && GLOBAL_CATEGORY_LEVEL_DROPDOWN[searchStatus]['type']  && GLOBAL_CATEGORY_LEVEL_DROPDOWN[searchStatus]['type'] == categoryType) ? "selected" : "";
																			%>
																			<option <%=selectedFlag%> value='<%=(GLOBAL_CATEGORY_LEVEL_DROPDOWN[searchStatus]["type"]) ? GLOBAL_CATEGORY_LEVEL_DROPDOWN[searchStatus]["type"] :"";%>'>
																				<%=(GLOBAL_CATEGORY_LEVEL_DROPDOWN[searchStatus]['name']) ? GLOBAL_CATEGORY_LEVEL_DROPDOWN[searchStatus]["name"] :"";%>
																			</option>

																	<% 	});
																	} %>
																</select>
															</div>
															<span id="category_type_error" class="error"></span>
														</div>
													</div>
												<% }%>
												<div class="col-sm-12">
													<div class="form-group">
														<div class="form-line">
															<label for="description" class="control-label"><%= __('admin.product.description'); %><span class="required"> * </span> </label>
															<textarea name="master_descriptions[<%= languageId%>][description]" id="description_<%= languageCode; %>"  class="form-control"><%= description%></textarea>
														</div>
														<span id="description_error" class="error"></span>
													</div>
												</div>
											<% }%>


											<% if(type && type =='delivery_types'){ %>
												<div class="col-sm-12">
													<div class="form-group">
														<div class="form-line">
															<label for="charge" class="control-label"><%= __('Charge'); %><span class="required"> * </span> </label>
															<input type="text" id="charge_<%= languageCode; %>" class="form-control" name="master_descriptions[<%= languageId%>][charge]" value="<%= charge%>"/>
														</div>
														<span id="charge_error" class="error"></span>
													</div>
												</div>
											<% }%>
										</div>
									</div>
							<% 	});
							} %>
						</div>
						<div>
							<button type="button" id="master-edit-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit" <%- ADMIN_LOADING_TEXT %> ><i class="material-icons font-14">save</i> <%= __('admin.system.submit'); %></button>
							<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
							<a href="<%=admin_list_url+"/"+type%>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
  <link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>lightbox.css">
  <link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>jquery-filestyle.min.css">
  <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
  
<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>jquery-filestyle.min.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>lightbox.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>ckeditor/ckeditor.js" type="text/javascript"></script>
	<script type="text/javascript">
		if('<%= type%>' == 'category'){
			CKEDITOR.replace('description_<%= languageCode; %>', { 
				imageUploadURL: '<%= WEBSITE_ADMIN_URL%>ckeditor_uploader/',
			});
		}
		$(document).ready(function() {
			/** file browser **/
			$(".jfilestyle").jfilestyle({input: false});
			
			/**
			 * Function to submit form
			 */
			$('.btn-submit').click(function(){
				var btnId = $(this).attr('id');
				startTextLoading(btnId);
				if('<%= type%>' == 'category') updateCkeditorValue();
				submit_multipart_form("edit-master",function(status,response){
					if(status){
						window.location.href = response.redirect_url;
					}else{
						changeTab('<%= DEFAULT_LANGUAGE_CODE %>');
						stopTextLoading(btnId);
					}
				});
			});

			/**
			 * User image Upload
			 */
			$(document).on("click", ".changePhoto", function(){
				if(!$(".add-image #category_image").hasClass("added")){
					$(".add-image #category_image").trigger("click");
					$(".add-image #category_image").addClass("added");
					window.setTimeout(function(){
						$(".add-image #category_image").removeClass("added");
					},500);
				}
			});

			/**
			 *Show user image after select
			*/
			$("#category_image").on("change", function(){
				var files = !!this.files ? this.files : [];
				if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

				if (/^image/.test( files[0].type)){
					// only image file
					var reader = new FileReader(); // instance of the FileReader
					reader.readAsDataURL(files[0]); // read the local file
					reader.onloadend = function(){

						$("#pImage").html("<img src='"+this.result+"' class='profileImage' >");
					}
				}
				$("span#category_image_error").text("");
			});


		});
	</script>
